footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  color: #fff;
  background-color: #1E213A;
  font-family: 'Roboto Condensed', sans-serif;
}
footer a{
  color:  rgb(230, 208, 15);
}
footer p{
  font-size: 1.5rem;
}
