header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    padding: 1rem;
    background-color: #1E213A;
    font-family: 'Roboto Condensed', sans-serif;;
}
#header h1{
  font-size: 4.5rem;
  font-family: 'Roboto Condensed';
  color: rgb(230, 208, 15);
  text-align: center;
}
.headerCenter{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100vh;
}
.serachPart{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search{
  padding: 0.5rem;
  color: #000000;
  background-color:#fff;
  border:none;
  opacity: 0.9;
  height: 3rem;
  font-weight: 700;
}
.search:hover{
  cursor: text;
}
.search::placeholder{
  color: #000;
  font-weight: 700;
  text-align: center;
  font-size: 1.1rem;
}
input[type='text']{
    font-size: 1.2rem;
   border-radius: 3px;
}
.getData{
  height: 3rem;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.9;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 3px; 
  transition: ease-in 0.5s;
  background-color: rgb(230, 208, 15);
}
.getData:hover{
   background-color: rgb(241, 238, 204);
   background-image: url(/assets/amcharts_weather_icons_1.0.0/static/day.svg) ;
   background-position: center;

}
