main{
  background-color: #1E213A;
  scroll-behavior: smooth;


}
.search:hover{
  cursor: pointer;
}
.figure{
  display: flex;
  align-items:center;
  justify-content: center;
}
.figure img{
  width: 140px;
  height: 140px;
}
.weatherTodayInfos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.weatherTodayNone{
  display: none;
}
.temperature{
  font-size: 7rem;
  font-weight: 600;
  margin: 1rem;
  color: #E7E7EB;
}
.temperatureSection{
  display: flex;
  justify-content: center;
  align-items: center;

}

sub{
  font-size: 2.2rem;
  color:#88869D ;
}
.condition{
  font-size: 2rem;
  color: #88869D;
  margin: 0.5rem;
}
.day, .weekDay{
  color: #88869D;
}
.day{
  padding: 0.5rem;
}
.feather-map-pin{
 margin-right: 0.5rem;
}
time{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dayInfos{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.local{

  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: row;
}
p.city{
  color:  rgb(230, 208, 15);
  font-weight: 500;
  font-size:1.5rem;
  font-family: 'Raleway Condensed', sans-serif;

}

.details{
  background-color:  rgb(230, 208, 15);
  color: #100E1D;
  padding: .4rem;
  font-weight: 500;
  margin-top: 1rem;
}
