.week{
  padding: 1rem;
  display: flex;
  justify-content:center;
  align-items:  stretch;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #100E1D;
  height: 30vh;
}
.weatherWeekCard{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1E213A;
  width:160px;
  height:170px;
  padding: 0.7rem;  
  margin:0.4rem;
  border-radius: .2rem ;
}
.weatherWeekCard span{
  color:#eef1cb;
  font-weight: 700;
}
.minmax{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row
}
.minmax span{
  padding: .5rem;

}
.dayOfMonth{
  color:  rgb(230, 208, 15);
}